.container {
  max-width: 940px;
}

* {
  font-family: 'Open Sans', sans-serif;
}

header .header__block__image {
  background: url("../img/header/bg.jpg") 100%/100% no-repeat;
  color: #fff;
  height: 768px;
}

header .header__block__image .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

header .header__block__image .header__title {
  height: 60px;
  margin-top: 319px;
}

header .header__block__image .header__title__text {
  line-height: 60px;
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
  letter-spacing: 5.71px;
  margin-top: auto;
  margin-bottom: auto;
}

header .header__block__image .header__subtitle__text {
  line-height: 22px;
  font-size: 16px;
  font-weight: 600;
}

header .header__block__image .header__footer {
  margin-top: 225px;
}

header .header__block__image .header__footer__text {
  font-size: 11px;
  font-weight: 600;
}

header nav {
  border-bottom: 1px solid #E6E6E6;
}

header nav .row {
  height: 60px;
}

.main__block {
  margin-top: 58px;
  height: 344px;
}

.main__block .block__title .block__title__text {
  font-size: 18px;
  font-weight: 700;
}

.main__block .left_coll {
  margin-top: 56px;
}

.main__block .left_coll .left__coll__title {
  width: 405px;
}

.main__block .left_coll .left__coll__title__text {
  font-size: 20px;
  font-weight: 700;
  color: #48555B;
  letter-spacing: 0.3px;
}

.main__block .left_coll .left__coll__title__text span {
  color: #16ACE8;
}

.main__block .left_coll .left__coll__subtitle {
  width: 405px;
  margin-top: 30px;
}

.main__block .left_coll .left__coll__subtitle .left__coll__subtitle__text {
  font-size: 13px;
}

.main__block .right_coll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.main__block .right_coll .three__block .three__bloks__el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__block .right_coll .three__block .three__bloks__el .three__block__image:not(:last-child) {
  margin: 0 20px 0 0;
}

.service {
  margin-top: 118px;
}

.service .service__header .service__header__logo__text {
  font-size: 18px;
  font-weight: 700;
  color: #48555B;
}

.service .service__header .service__header__description__text {
  font-size: 11px;
  font-weight: 400;
}

.service .service__header .service__header__button .service__header__button__text button {
  background-color: #00A4E5;
  padding: 11px 29px;
  height: 100%;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.service .service__cards {
  margin-top: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service .service__cards .col-4 {
  width: 31.4%;
}

.service .service__cards .service__cards_items {
  border: 1px solid #E6E6E6;
  padding: 0 0 0 0;
}

.service .service__cards .service__cards_items .items1 {
  width: 100%;
}

.service .service__cards .service__cards_items img {
  padding-left: 23px;
  padding-top: 38px;
}

.service .service__cards .service__cards_items .service__cards_items_title {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.43px;
  padding: 25px 21px 0;
}

.service .service__cards .service__cards_items .service__cards_items_text {
  font-size: 13px;
  line-height: 23px;
  font-weight: 400;
  padding: 15px 23px 39px;
  letter-spacing: 0.19px;
}

.implication {
  width: 100%;
  height: 498px;
  margin-top: 114px;
  max-height: 500px;
  background: url("../img/implication/bg.jpg") 100%/100% no-repeat;
}

.implication .container {
  height: 100%;
}

.implication .col-5 {
  width: 37.3%;
}

.implication .implication__title {
  margin-top: 120px;
}

.implication .implication__title .implication__title__text {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.15;
  color: #48555B;
  font-weight: 700;
}

.implication .implication__button {
  margin-top: 35px;
}

.implication .implication__button .col-2 {
  padding: 0;
}

.implication .implication__button .implication__button__elem {
  background-color: #00A4E5;
}

.implication .implication__button .implication__button__elem button {
  background: none;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #fff;
  padding: 11px 26px;
  max-height: 40px;
}

.follow {
  background-color: #171819;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.follow .col-6 {
  width: 42.6%;
  padding: 0;
}

.follow .follow__row {
  height: 40px;
}

.follow .follow__row .follow__row__descript .follow__row__descript__text {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.85px;
}

.follow .follow__row .follow__row__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.follow .follow__row .follow__row__input .follow__row__input__text {
  height: 100%;
  width: 100%;
}

.follow .follow__row .follow__row__input .follow__row__input__text .follow_text {
  width: 100%;
  max-height: 40px;
  font-size: 14px;
  letter-spacing: 0.07px;
  padding: 11px 65px 11px 16px;
  color: #48555B;
}

.follow .follow__row .follow__row__input .follow__row__input__btn .follow_btn {
  max-height: 40px;
  color: #fff;
  background-color: #00A4E5;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 11px 49px;
}
/*# sourceMappingURL=style.css.map */